.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    background-image: url('/images/login/gradient-mobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-resolution: 192dpi) {
    .backdrop {
        background-image: url('/images/login/gradient-mobile@2x.webp');
    }
}

@media only screen and (min-width: 768px) {
    .backdrop {
        background-image: url('/images/login/login-tablet.webp');
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .backdrop {
        background-image: url('/images/login/bg-login-tab@2x.webp');
    }
}

@media only screen and (min-width: 1280px) {
    .backdrop {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/images/login/login-desktop.webp');
    }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .backdrop {
        background-image: url('/images/login/bg-login-desk@2x.webp');
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 98px 20px;
}

@media only screen and (min-width: 768px) {
    .modal {
        border-radius: 8px;
        box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.35);
        width: 533px;
        height: 570px;
        padding: 80px 62px;
        background: rgba(255, 255, 255, 0.1);
        background-position: -60px -60px;
        background-size: 125% 125%;
        background-position: center;
        background-image: url('/images/login-modal-desk@1x.webp'), url('/images/login-modal-circle-desk@1x.webp');
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .modal {
        background-image: url('/images/login-modal-desk@2x.webp'), url('/images/login-modal-circle-desk@2x.webp');
    }
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    margin: 52px 0;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
