.inputGroup {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-60);
}

.input {
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid var(--white-40);
    width: 280px;
    height: 35px;
    padding-left: 50px;
    color: var(--white-60);
}

@media only screen and (min-width: 768px) {
    .input {
        width: 409px;
    }
}

.inputIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 25px;
    height: 24px;
    font-size: 20px;
    color: var(--white-40);
}

.inputIconLast {
    top: 35%;
}

.error {
    position: absolute;
    top: 117%;
    left: 20px;
    font-weight: 400;
    font-size: 0.7em;
    color: #f00000;
}

.progressBarComponent {
    width: auto;
}

.toggleBtn {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white-60);
    font-size: 18px;
    padding: 0;
}
